.bingo-container {
    text-align: center;
    padding: 20px;
    width: fit-content;
}


.bingo {
    background-image: url(../img/Background.jpg);
    background-size: 100% auto;
    background-position: center; 
    border-radius: 10px;
	font-weight: bold;
	color: white;
    /* margin: auto; */
    display: block;
    table-layout: fixed;
}

.bingo tbody{
    margin: auto;
}

.bingo td {
    font-size: 1.5vw;
    color: white;
    text-shadow:
        -2px -2px 0 #000,
        0   -2px 0 #000,
        2px -2px 0 #000,
        2px  0   0 #000,
        2px  2px 0 #000,
        0    2px 0 #000,
        -2px  2px 0 #000,
        -2px  0   0 #000;
    text-align: center;
    vertical-align: middle;
    border: 4px #666 solid;
    padding: 10px;
    height: 0;
    padding-top: 2%;
    padding-bottom: 2%;
}

.pickedBG {
    background-image: url(../img/stamp_red.png);
    background-size:  100% 100%;
    opacity: 0.8;
}

#free, .winningBG {
    background-image: url(../img/stamp.png);
    background-size:  100% 100%;
    opacity: 0.8;
}
